/* Form pseudo-classes */
input:focus {
    border-color: rgb(9, 0, 128);   
  }
  input:enabled {
    background-color: white;
  }
  input:disabled {
    background-color: gray;
  }
  input:checked {
    background-color: yellow;
  }
  input:indeterminate {
    background-color: lightgray;
  }
  input:placeholder-shown {
    color: gray;
  }
  input:valid {
    border-color: rgb(244, 12, 171);
  }
  input:invalid {
    border-color: red;
  }
  input:in-range {
    border-color: blue;
  }
  input:out-of-range {
    border-color: orange;
  }

  